    /* .image-1 {
      background-image: url("/src/Assets/dice-1.png");
    }
    .image-2 {
      background-image: url("/src/Assets/dice-2.png");
    }
    .image-3 {
      background-image: url("/src/Assets/dice-3.png");
    }
    .image-4 {
      background-image: url("/src/Assets/dice-4.png");
    }
    .image-5 {
      background-image: url("/src/Assets/dice-5.png");
    }
    .image-6 {
      background-image: url("/src/Assets/dice-6.png");
    }
     */