    .image-1 {
      background: url("/assets/images/dice_icon_01.png")no-repeat center center/cover;
    }
    .image-2 {
      background: url("/assets/images/dice_icon_02.png")no-repeat center center/cover;
    }
    .image-3 {
      background: url("/assets/images/dice_icon_03.png")no-repeat center center/cover;
    }
    .image-4 {
      background: url("/assets/images/dice_icon_04.png")no-repeat center center/cover;
    }
    .image-5 {
      background: url("/assets/images/dice_icon_05.png")no-repeat center center/cover;
    }
    .image-6 {
      background: url("/assets/images/dice_icon_06.png")no-repeat center center/cover;
    }
    
    .image-1,.image-2,.image-3,.image-4,.image-5,.image-6{
      width:200px;
      height:200px;
      /* padding:5%; */
    }